@import url('https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro');

:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --second-font: 'Oswald', sans-serif;
    --red: #FE6462;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* , html {
    font-family: var(--main-font);
    outline: none;
}

#bg{
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
    ), url(../img/bg.jpg) center center no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.container{
    width: 800px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.content{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
}

h1{
    font-family: var(--second-font);
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;

}

header{
    position: absolute;
    top: 50px;
}

.logo{
    display: block;
    text-align: left;
    color: var(--red);
    font-size: 40px;
    font-weight: bold;
}

form input[type="email"],
form input[type="submit"]{
    padding: 10px;
    border: none;
    font-size: 20px;
    border-radius: 3px;
    margin-bottom: 10px;
}

form input[type="submit"]{
    background-color: var(--red);
    color: #fff;
}

.small{
    font-size: 12px;
}

.hashtag,
.intro{
    font-size: 24px;
    font-weight: bold;
}

@media(max-width: 800px){

    .container{
        width: 90%;
    }

    #bg{
        height: auto;
        min-height: 100%;
    }

    header{
        padding-top: 30px;
        position: static;
    }

}